@font-face { 
	font-family: Amiko; 
	src: url('/Amiko-Regular.ttf'); 
} 

#blog {
	border-radius: 25px;
	padding-bottom: 20px;
	width: 50%;
	padding-top: 10px;
	background: rgba(147, 196, 195, 0.5)
}

#blog h1 {
	font-size: 25px;
	margin-left: 10px;
	font-family: Amiko;
}

#blog p {
	font-size: 15px;
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Amiko; 
}

#blog a {
	font-size: 15px;
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Amiko;
}

#blog span.bottomtext {
	position: absolute;
	margin-top: 10px;
	font-size: 15px;
	margin-left: -30px;
	font-family: Amiko;
}